body{
    direction: rtl;
}

ul{
    padding-left: 0;
}

#about p{
    text-align: right;
}

#about button span{
    margin-right: 0;
    margin-left: 15px;
}

.card{
    text-align: right;
}

.progress-bar-fill{
    right: 0;
}

.text-start{
    text-align: right !important;
}

.contact-icons ul {
    text-align: right;
    margin-left: 0;
    margin-right: 30px;
}